/*Estilos generales de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}
header{
    background-color: #841515;
    color: white;
    text-align: center;
    padding: 20px;
}
section{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
h2{
    color: #841515;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{

background-color: #e3c5c5;
margin: 5px 0;
padding: 10px;
border-radius: 5px;

}

footer {
background-color:#333;
color: white;
text-align: center;
padding: 10px;
width: 100%;
bottom: 0;
}

/*estilo flexbox*/

body{

display: flex;

flex-direction:column;

justify-content: space-between;

height: 100vh;

}

/*estilo de botones y formulario*/

input, button{

padding: 10px;

margin: 5px 0;

border-radius: 4px;

border: 1px solid #ccc;
}
button{

background-color:#871818;

color: white;

border: none;

cursor: pointer;

}

button{
background-color:#994f6f;
}
/*enlaces*/
a{color: #841515;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

